---
export interface Props {
  title: string
}

const { title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
    />
    <meta name="generator" content={Astro.generator} />
    <script data-domain="http://test-site.com" src="http://localhost:8000/tracking.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
